btop/
dconf/
ncspot/
iamb/
menus/
gtk-3.0/
glib-2.0/
mimeapps.list
yay/
tenacity/
systemd/
Ryujinx/
unity3d/
Unknown Organization/
vesktop/
zoom.conf
zoomus.conf
VirtualBox/
QtProject.conf
playit_gg/
pulse/
profanity/
simple-update-notifier/
openrazer/
StardewValley/
cmus/
